    body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    .contain {
        margin-top: 5rem;
    }

    .top-nav {
        position: fixed;
        background: white;
        height: 5rem;
        width: 100vw;
        top: 0;
        z-index: 999;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-bottom: 1px solid #ccc;
        padding-left: 2rem;
    }

    .notice {
        height: 5rem;
        color: #ccc;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: center;
        padding-left: 2rem;
    }



    .main-body {
        margin-left: 10rem;
        margin-right: 10rem;
        display: flex;
        flex-direction: row;
    }



    #brief-article {
        width: 20rem;
        min-height: calc(100vh - 10rem);
        background: #ccc;
        padding: 0 1rem;
        font-size: 1.5rem;
        font-weight: bold;
        overflow-y: scroll;
        font-family: 'Times New Roman', Times, serif;
    }



    #detail-article {
        flex: 1;
        background: rgb(30, 30, 30);
        overflow-y: hidden;
        padding: 0rem 2rem;
        color: #ccc;
        overflow: hidden;
        min-height: calc(100vh - 5rem);
    }