    body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    .contain {
        display: flex;
        width: 100vw;
        height: 100vh;
    }



    .left-container {
        height: "100%";
        width: 20rem;
        background: #02555F;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
    }

    .my-avatar {
        width: 8rem;
        height: 8rem;
        border-radius: 8rem;
        margin-top: 3rem;
        background: white;
    }

    .my-name {
        font-size: 1.8rem;
        padding: 1rem 0;
    }

    .nav-container {}

    .test {
        border-left: 1px solid blue;
    }


    .right-container {
        flex: 1;
        background: white;
        padding: 4rem;
        height: "100%";
        overflow-y: scroll;
    }

    .brief-card-scale:hover {
        animation: bcs 0.5s 1;
        animation-fill-mode: forwards;
        -webkit-animation: bcs 0.5s 1;
        -webkit-animation-fill-mode: forwards;

    }

    @keyframes bcs {
        from {
            transform: scale(1);
        }

        to {

            transform: scale(1.05);
        }
    }











    .top-nav {
        position: fixed;
        background: white;
        height: 5rem;
        width: 100vw;
        top: 0;
        z-index: 999;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-bottom: 1px solid #ccc;
        padding-left: 2rem;
    }

    .notice {
        height: 5rem;
        color: #ccc;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: center;
        padding-left: 2rem;
    }



    .main-body {
        margin-left: 10rem;
        margin-right: 10rem;
        display: flex;
        flex-direction: row;
    }



    #brief-article {
        width: 20rem;
        min-height: calc(100vh - 10rem);
        background: #ccc;
        padding: 0 1rem;
        font-size: 1.5rem;
        font-weight: bold;
        overflow-y: scroll;
        font-family: 'Times New Roman', Times, serif;
    }



    #detail-article {
        flex: 1;
        background: rgb(30, 30, 30);
        overflow-y: hidden;
        padding: 0rem 2rem;
        color: #ccc;
        overflow: hidden;
        min-height: calc(100vh - 5rem);
    }