.top-nav{
  height: 3em;
  background-color: white;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  box-shadow: 0 0 2em #ccc;
}
.back-img{
  width: 2em;
  height: 2em;
  margin-left: 1em;
  transform: rotate(180deg);
}
.nav-title{
  flex: 1;
  text-align: center;
  margin-left: -3em;
  font-weight: 600;
  font-size: 1.4rem;
}