.card {
  width: 100%;
  min-height: 10em;
  padding: 1em;
  /* background-color: pink; */
  box-shadow: 0 0 2em #ccc;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
}

.desc {
  font-weight: 500;
  font-size: 1.1rem;
  padding: 1em 2em;
  letter-spacing: .02em;
}

.tag-container {
  display: flex;
  flex-direction: row;
  margin: .5em 0;
  /* justify-content: flex-end; */
}

.card:hover {
  animation: bcs 0.5s 1;
  animation-fill-mode: forwards;
  -webkit-animation: bcs 0.5s 1;
  -webkit-animation-fill-mode: forwards;
}


@keyframes bcs {
  from {
    transform: scale(1);
  }

  to {

    transform: scale(1.03);
  }
}